<header id="navbar">
  <a href="/"
    ><img
      src="/images/bg.png"
      alt="logo"
      class="logo"
  /></a>

  <input type="checkbox" id="check" />
  <label for="check" class="icons">
    <i class="fa-solid fa-bars" id="menu-icon"></i>
    <i class="fa-solid fa-xmark" id="close-icon"></i>
  </label>

  <nav class="navbar">
    <a href="/" class="nav-item" style="--i: 0">Home</a>
    <a href="/motorbikes" class="nav-item" style="--i: 0">All Motorbikes</a>
    <a href="/backend" class="nav-item" style="--i: 0" onclick="fakeLogin()"
      >Admin</a
    >
  </nav>
</header>
