<video autoplay loop muted plays-inline class="background-video">
  <source src="/videos/bg-vid.mp4" type="video/mp4" />
</video>
<section class="content">
  <h1 data-aos="zoom-in" data-aos-duration="1000">
    <a href="/landing">Click here!</a>
  </h1>
</section>
