<div class="background-image"></div>
  <section class="content" data-aos="zoom-in" data-aos-duration="1000">
      <a href="/motorbikes"><img class="logo-grande" src="/images/bg.png" alt="bg-pic"></a>
  </section>
</div>
