<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Motorbike</title>
</head>
<body>
    <h1>New Motorbike</h1>
    <form action="/motorbikes" method="POST" enctype="multipart/form-data">
        <label for="brand">Brand:</label>
        <input type="text" id="brand" name="brand"><br>
        <label for="brand">Model:</label>
        <input type="text" id="model" name="model"><br>
        <label for="brand">Year:</label>
        <input type="text" id="year" name="year"><br>
        <label for="brand">Engine Type:</label>
        <input type="text" id="engineType" name="engineType"><br>
        <label for="brand">Horse Power:</label>
        <input type="text" id="horsepower" name="horsepower"><br>
        <label for="brand">Torque:</label>
        <input type="text" id="torque" name="torque"><br>
        <label for="brand">Weight:</label>
        <input type="text" id="weight" name="weight"><br>
        <label for="brand">Top Speed:</label>
        <input type="text" id="topSpeed" name="topSpeed"><br>
        <label for="brand">Color:</label>
        <input type="text" id="color" name="color"><br>
        <label for="brand">Price:</label>
        <input type="text" id="price" name="price"><br>
        <label for="image">Image:</label>
        <input type="file" id="image" name="image"><br>
        <button type="submit">Create</button>
    </form>
</body>
</html>
