@import url("https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap");

/* para el efecto de las tarjetas */
:root {
  --card-height: 300px;
  --card-width: calc(var(--card-height) / 1.5);
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
  
}

button {
  color: black;
}

body {
  font-family: "Racing Sans One", sans-serif;
  /*background-image: url('../images/bg2.jpg');
  background-repeat: no-repeat;
  background-size: cover;*/
  background-color: #3b3434;
  min-height: 100vh;
  max-width: 100vw !important;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: #e42841;
  scroll-behavior: smooth;
}

.logo-grande {
  width: 50%;
}

/* HEADER */

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 5;
  transition:all 1.5s;
}

.logo {
  width: 80px;
}

.nav-item {
  position: relative;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: -0.13px;
  text-decoration: none;
  margin-left: 2.5rem;
  
}

.nav-item:hover {
  color: #e42841;
}

.nav-item::after {
  content: "";
  position: absolute;
  bottom: -0.3rem;
  left: 50%;
  width: 0;
  height: 0.15rem;
  transform: translateX(-50%);
  background-color: #e42841;
  transition: all 0.5s ease;
}

.nav-item:hover:after {
  width: 100%;
}

.icons {
  position: absolute;
  right: 5%;
  font-size: 2.3rem;
  color: #e42841;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

/* CONTENT */

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  max-width: 100vw;
}

/*   font-size: clamp(3rem, 10vw, 8rem); */

.content a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 50px;
  border-radius: 5px;
  background: transparent;
  overflow: hidden;
  transition: all 0.3s ease-in;
}

.btn:hover {
  transform: translateY(5px);
}

.light::before {
  content: "";
  position: absolute;
  background-image: conic-gradient(
    transparent 10deg,
    #e42841,
    90deg,
    transparent 170deg
  );
  width: 200%;
  height: 500%;
  animation: rotate 3s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.light:after {
  content: "Explore";
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 40px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(35px);
  -webkit-backdrop-filter: blur(35px);
  color: #e42841;
  font-size: clamp(0.9rem, 3vw, 1.2rem);
  border-radius: 5px;
}
/* All motorbikes h1 */

.h1-allmotorbikes {
  position: absolute;
  top: 150px;
  z-index: 1;
}

/* MAIN */
#main {
  padding-top: 250px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  max-width: 100vw;
}

.card {
  width: var(--card-width);
  height: var(--card-height);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 0 36px;
  perspective: 2500px;
  margin: 98px;
}

.cover-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.wrapper {
  transition: all 0.5s;
  position: absolute;
  width: 250px;
  z-index: -1;
  height: 400px;
}

.wrapper img {
  width: 100%;
  height: 100%;
}

.card:hover .wrapper {
  transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
  box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
}

.wrapper::before,
.wrapper::after {
  content: "";
  opacity: 0;
  width: 100%;
  height: 80px;
  transition: all 0.5s;
  position: absolute;
  left: 0;
}
.wrapper::before {
  top: 0;
  height: 100%;
  background-image: linear-gradient(
    to top,
    transparent 46%,
    rgba(12, 13, 19, 0.5) 68%,
    rgba(12, 13, 19) 97%
  );
}
.wrapper::after {
  bottom: 0;
  opacity: 1;
  background-image: linear-gradient(
    to bottom,
    transparent 46%,
    rgba(12, 13, 19, 0.5) 68%,
    rgba(12, 13, 19) 97%
  );
}

.card:hover {
  cursor: pointer;
}

.card:hover .wrapper::before,
.wrapper::after {
  opacity: 1;
}

.card:hover .cover-image {
  opacity: 0.5;
}

.card:hover .wrapper::after {
  height: 120px;
}
.title {
  width: 100%;
  transition: transform 0.5s;
}
.card:hover .title {
  transform: translate3d(0%, -50px, 100px);
}

.character {
  width: 200%;
  opacity: 0;
  transition: all 0.5s;
  position: absolute;
  z-index: -1;
}

.card:hover .character {
  opacity: 1;
  transform: translate3d(0%, -30%, 100px);
}

/* DETAILS */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 99999;
}

.overlay.visible {
  display: flex;
}

.showDetails {
  background-color: #ffffff;
  color: #000000;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 600px;
  position: fixed;
  top: 50px;
  z-index: 100000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  align-self: center;
}

.close-container {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  width: 24px;
  height: 24px;
}

.leftright,
.rightleft {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 4px;
  background-color: #f4a259;
  border-radius: 2px;
  transition: all 0.3s ease-in;
}

.leftright {
  transform: translate(-50%, -50%) rotate(45deg);
}

.rightleft {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.close-container:hover .leftright {
  transform: translate(-50%, -50%) rotate(-45deg);
  background-color: #f25c66;
}

.close-container:hover .rightleft {
  transform: translate(-50%, -50%) rotate(45deg);
  background-color: #f25c66;
}

/* inicio close btn en showdetails */

.close-container {
  position: absolute;
  top: 0;
  right: 48px;
  margin: auto;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.leftright {
  height: 4px;
  width: 20px;
  position: absolute;
  margin-top: 24px;
  background-color: #f4a259;
  border-radius: 2px;
  transform: rotate(45deg);
  transition: all 0.3s ease-in;
}
.rightleft {
  height: 4px;
  width: 20px;
  position: absolute;
  margin-top: 24px;
  background-color: #f4a259;
  border-radius: 2px;
  transform: rotate(-45deg);
  transition: all 0.3s ease-in;
}

.close-container:hover .leftright {
  transform: rotate(-45deg);
  background-color: #f25c66;
}
.close-container:hover .rightleft {
  transform: rotate(45deg);
  background-color: #f25c66;
}
.close-container:hover label {
  opacity: 1;
}

.mini-image {
  width: 245px;
  border-radius: 10px;
  position: absolute;
  top: 43px;
  left: 195px;
}

/* fin close btn en showdetails */

/* EDIT PAGE */

.form-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  margin-top: 80px;
  justify-content: center;
}

.form-container .form {
  justify-self: center;
  padding: 25px;
  background-color: rgba(0, 0, 0, 0.633);
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 20px;
  width: 35%;
}

.form-container .form label {
  margin-bottom: 10px;
  width: 20%;
}

.form-container .form input {
  border: none;
  background-color: transparent;
  border-bottom: #f25c66 solid 1px;
  padding: 5px;
  color: white;
}

/* FOOTER */
footer {
  background-color: rgba(16, 48, 55, 0.296);
  display: flex;
  justify-content: center;
}

/* BACKEND - ADMIN PAGE */

.add-motorbike {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 250px;
  padding: 5px;
  flex-wrap: wrap;
}

.add-motorbike .pretty-form {
  display: flex;
  flex-direction: column;
}

.add-motorbike input {
  background-color: transparent;
  border: none;
  border-bottom: solid 1px #f25c66;
  width: 50%;
  justify-self: center;
  color: white;
}

.add-motorbike label {
  align-self: left;
}

.add-motorbike button {
  width: 25%;
}

.add-motorbike .images {
  position: relative;
  top: 20px;
  right: 0px;
  width: fit-content;
}

.add-motorbike .submit-btn {
  position: relative;
  width: 70px;
  padding: 2px;
  bottom: -20px;
  right: -150px;
}

